<!DOCTYPE html>
<html>
  <head>
    {{>head}}
    <title>Project Node.JS</title>
  </head>
  <body>
    <header>
      {{>sitenav}}
    <div class="container">
      {{>header}}
      <nav>
        {{>navbar}}
      </nav>
    </div>
    </header>

      <div class="container">
        {{{body}}}
        {{>footer}}
      </div>

  </body>

</html>
