<div class="container">
  <div class="error-wrapper">

    <img src="/img/error-404.png" alt="Error 404">
    <h1 id="error-warning">Error 404 not found</h3>
    <h5 id="error-text"> Sorry! We can't find the page you're looking for...</h5>
  </div>

</div>
