<form class="site-form" action="posting" method="post">
  <label for="">Username: </label><input type="text" name="username" value="">
  <label for="">Email:</label><input type="text" name="email" value="">
  <button type="submit" name="button">Submit</button>
</form>
